@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff");
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000;
  font-style: normal;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  display: block;
  padding: 13px 29px 11px;
  font-weight: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #e5ddd5;
}
.btn:hover {
  text-decoration: none;
  border-color: #d5c9bd;
}
.btn:active {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  background-color: #d5c9bd;
  border-color: #d5c9bd;
  outline: none;
}
.btn:focus {
  text-decoration: none;
  outline: none;
}
.btn input[type="text"] {
  background-color: #f2f2f2;
}
.btn input[type="text"]:hover {
  background-color: #e5e5e5;
}
.btn input[type="text"]:active {
  background-color: #fff;
  border: 4px #e5e5e5 solid;
}
body {
  background: #ffffff url("img/bb-mobile.png") no-repeat 50% 0px;
  background-size: 720px auto;
  min-height: 750px;
}
@media (min-width: 768px) {
  body {
    background: #ffffff url("img/bb-tablet.png") no-repeat 50% 0px;
    background-size: 1178px auto;
  }
}
@media (min-width: 1200px) {
  body {
    background: #ffffff url("img/bb-desktop.png") no-repeat 50% 0px;
    background-size: 1391px auto;
  }
}
.page-header {
  min-height: 280px;
  /* временно для сетки*/
  position: relative;
  margin-top: 0;
  padding-top: 0;
}
.main-nav__toggle {
  position: absolute;
  width: 22px;
  height: 23px;
  background-color: transparent;
  font-size: 0;
  right: 10px;
  top: 15px;
  cursor: pointer;
}
.enter {
  top: 275px;
  z-index: 2;
}
.enter::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 3px;
  background-color: #81b3d2;
  -webkit-box-shadow: 0 8px 0 0 #81b3d2, 0 -8px 0 0 #81b3d2;
          box-shadow: 0 8px 0 0 #81b3d2, 0 -8px 0 0 #81b3d2;
  top: 9px;
  right: 0;
  cursor: pointer;
}
.exit::before,
.exit::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  right: 0px;
  top: 15px;
}
.exit::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.page-header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
}
.main-nav__item {
  display: block;
  background-color: #81b3d2;
  border-bottom: 1px #678fa8 solid;
  border-top: 1px #9ac2db solid;
  text-align: middle;
  width: 100%;
}
.main-nav__item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 18px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
.main-nav__item a:hover {
  background-color: #669ec0;
}
.main-nav__item a:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.page-header li:first-child {
  border-top: none;
}
.page-header li:last-child {
  border-top: none;
}
.logo {
  position: relative;
  background-color: white;
  font-size: 0;
  height: 52px;
  border-bottom: 0px green solid;
}
.logo a {
  display: block;
  width: 102px;
  position: relative;
  margin: 0 auto;
}
.logo img {
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 767px) {
  .logo {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .logo .header-picture__logo {
    position: absolute;
    top: -20px;
    left: 27%;
  }
}
@media (min-width: 768px) {
  .page-header {
    min-height: 0px;
  }
  .main-nav__toggle {
    display: none;
  }
  .page-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-nav__item {
    width: 20%;
    background-color: white;
    min-height: 56px;
    border: 0px green solid;
  }
  .main-nav__item a {
    color: black;
  }
  .main-nav__item a:hover {
    background-color: white;
    color: #81b3d2;
  }
  .main-nav__item a:active {
    background-color: white;
    color: #b2b2b2;
  }
  .main-nav__item--active {
    color: #766357;
  }
  .main-nav__item--active:hover {
    color: #604e43;
  }
  .main-nav__item--active:active {
    color: #d6d0cc;
  }
  .page-header__logo .header-picture__logo {
    bottom: 438px;
    width: 370px;
    height: 101px;
    margin-top: 35px;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 20%;
  }
  .logo a {
    width: 188px;
    margin: 0 auto;
  }
  .logo img {
    position: absolute;
    width: 188px;
    height: 96px;
  }
}
.main-picture {
  background-color: #81b3d2;
  height: 389px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.main-picture img {
  width: 100%;
  height: 389px;
  background-position: center;
  z-index: -1;
}
.main-picture .main-picture__logo {
  display: block;
  width: 300px;
  height: 1px;
  margin: 0 auto;
  position: relative;
}
.main-picture .main-picture__logo::before {
  content: "";
  position: absolute;
  top: -66px;
  left: -165px;
  border: 60px solid transparent;
  border-bottom: 0px solid white;
  border-left: 350px solid white;
  z-index: 5;
}
.main-picture .main-picture__logo::after {
  content: "";
  position: absolute;
  top: -66px;
  right: -185px;
  border: 60px solid transparent;
  border-right: 350px solid white;
  border-bottom: 0px solid white;
  z-index: 5;
}
.main-picture .main-picture__logo img {
  position: absolute;
  bottom: 100px;
  left: 10px;
  display: block;
  width: 282px;
  height: 214px;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-picture {
    height: 518px;
    width: 100%;
  }
  .main-picture img {
    width: 100%;
    height: 518px;
  }
  .main-picture .main-picture__logo img {
    width: 460px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .main-picture {
    height: 518px;
    width: 100%;
  }
}
.form-presentation {
  padding: 40px 0;
  text-align: center;
}
.form-presentation span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
}
.form-presentation p {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  width: 225px;
  margin: 0 auto;
  margin-top: 35px;
}
@media (max-width: 767px) {
  .form-presentation p br {
    display: none;
  }
}
@media (min-width: 768px) {
  .form-presentation span {
    font-size: 24px;
  }
  .form-presentation .photo-presentation__entry {
    width: 385px;
  }
}
form {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*
	.form__bio {
		.client-id__name {
			padding-right: 35px;
		}
	}

	.client-id__ph {
		position: relative;
		
		img {
			position: absolute;
			top: 30px;
			right: 0px;
			background-color: #e6e6e6;
			padding: 10px;
		}
	}

	.client-id__m {
		position: relative;
		
		img {
			position: absolute;
			top: 30px;
			right: 0px;
			background-color: #e6e6e6;
			padding: 10px;
		}
	}

	.form__contacts {

		position: relative;

		input[type="text"],
		label {
			padding-left: 20px;
			width: 85%;
		}

		img {
			position: absolute;
			top: 50px;
			right: 0;
		}
	}

	.choice-services a {
		display: inline-block;
		padding: 20px;
		width: 100%;
		margin: 20px;
		margin-left: 50px;
		width: 200px;
		margin: 0 auto;
		background-color: #81b3d2;
		text-align: center;
	}
*/
}
form .form__bio,
form .form__contacts,
form .form__impression,
form .form__landmarks,
form .form__emotion {
  border-bottom: 1px #e5e5e5 solid;
  width: 320px;
  margin: 0 auto;
}
form .form__bio .client-id,
form .form__contacts .client-id,
form .form__impression .client-id,
form .form__landmarks .client-id,
form .form__emotion .client-id {
  width: 100%;
}
form .form__bio input[type="text"]::-webkit-input-placeholder,
form .form__contacts input[type="text"]::-webkit-input-placeholder,
form .form__impression input[type="text"]::-webkit-input-placeholder,
form .form__landmarks input[type="text"]::-webkit-input-placeholder,
form .form__emotion input[type="text"]::-webkit-input-placeholder,
form .form__bio input[type="text"]::-moz-placeholder,
form .form__contacts input[type="text"]::-moz-placeholder,
form .form__impression input[type="text"]::-moz-placeholder,
form .form__landmarks input[type="text"]::-moz-placeholder,
form .form__emotion input[type="text"]::-moz-placeholder,
form .form__bio input[type="text"]:-ms-input-placeholder,
form .form__contacts input[type="text"]:-ms-input-placeholder,
form .form__impression input[type="text"]:-ms-input-placeholder,
form .form__landmarks input[type="text"]:-ms-input-placeholder,
form .form__emotion input[type="text"]:-ms-input-placeholder,
form .form__bio input[type="text"]:-moz-placeholder,
form .form__contacts input[type="text"]:-moz-placeholder,
form .form__impression input[type="text"]:-moz-placeholder,
form .form__landmarks input[type="text"]:-moz-placeholder,
form .form__emotion input[type="text"]:-moz-placeholder {
  color: black;
  font-weight: bold;
}
form .form__bio h2,
form .form__contacts h2,
form .form__impression h2,
form .form__landmarks h2,
form .form__emotion h2 {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
form .form__bio label,
form .form__contacts label,
form .form__impression label,
form .form__landmarks label,
form .form__emotion label {
  width: 90px;
  font-size: 14px;
  min-height: 50px;
  text-transform: none;
  display: inline-block;
  margin-bottom: 15px;
}
form .form__bio input[type="text"],
form .form__contacts input[type="text"],
form .form__impression input[type="text"],
form .form__landmarks input[type="text"],
form .form__emotion input[type="text"] {
  display: inline-block;
  background-color: #f2f2f2;
  border: 0 green solid;
  min-height: 60px;
  width: 205px;
  padding-left: 20px;
  margin-bottom: 15px;
}
form .form__bio label,
form .form__contacts label {
  text-transform: uppercase;
}
form .form__contacts div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
form .form__contacts div label {
  width: 300px;
  font-size: 14px;
  padding-left: 20px;
  min-height: 50px;
  display: block;
}
form .form__contacts div input[type="text"] {
  min-height: 60px;
  width: 300px;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-right: 70px;
}
form .form__contacts div img {
  position: absolute;
  right: 32px;
  top: 90px;
  background-color: #e6e6e6;
  z-index: 3;
}
form .form__contacts div::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 65px;
  width: 58px;
  height: 63px;
  background-color: #e6e6e6;
}
form .form__impression label,
form .form__landmarks label {
  width: 220px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  margin-left: 4px;
}
form .form__impression input,
form .form__landmarks input {
  display: none;
}
form .form__impression input[type="radio"] + label span {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  vertical-align: middle;
  background-color: #f2f2f2;
  cursor: pointer;
}
form .form__impression input[type="radio"]:hover + label span {
  background-color: #e5e5e5;
}
form .form__impression input[type="radio"]:active + label span {
  background-color: #d5d5d5;
}
form .form__impression input[type="radio"]:checked + label span {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  vertical-align: middle;
  background-color: #f2f2f2;
  cursor: pointer;
  position: relative;
}
form .form__impression input[type="radio"]:checked + label span::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #333333;
  top: 16px;
  left: 16px;
  z-index: 5;
}
form .form__impression input[type="radio"]:checked:hover + label span {
  background-color: #e5e5e5;
}
form .form__impression input[type="radio"]:checked:active + label span {
  background-color: #d5d5d5;
}
form .form__impression input[type="radio"]:checked:active + label span::after {
  background-color: #a4a4a4;
}
form .landmarks__fieldset input[type="checkbox"] + label span {
  display: inline-block;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  background-color: #f2f2f2;
  cursor: pointer;
  margin-right: 25px;
  border-radius: 5px;
}
form .landmarks__fieldset input[type="checkbox"]:hover + label span {
  background-color: #e5e5e5;
}
form .landmarks__fieldset input[type="checkbox"]:active + label span {
  background-color: #d5d5d5;
}
form .landmarks__fieldset input[type="checkbox"]:checked + label span {
  display: inline-block;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  background-color: #f2f2f2;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
form .landmarks__fieldset input[type="checkbox"]:checked + label span::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 5px;
  background-color: #333333;
  top: 26px;
  left: 22px;
  z-index: 5;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
form .landmarks__fieldset input[type="checkbox"]:checked + label span::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 5px;
  background-color: #333333;
  top: 30px;
  left: 15px;
  z-index: 5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
form .landmarks__fieldset input[type="checkbox"]:checked:hover + label span {
  background-color: #e5e5e5;
}
form .landmarks__fieldset input[type="checkbox"]:checked:active + label span {
  background-color: #d5d5d5;
}
form .landmarks__fieldset input[type="checkbox"]:checked:active + label span::after {
  background-color: #a4a4a4;
}
form .landmarks__fieldset input[type="checkbox"]:checked:active + label span::before {
  background-color: #a4a4a4;
}
form .landmarks__fieldset input[type="checkbox"]:checked:hover + label span {
  background-color: #e5e5e5;
}
form .landmarks__fieldset input[type="checkbox"]:checked:active + label span {
  background-color: #d5d5d5;
}
form .landmarks__fieldset input[type="checkbox"]:checked:active + label span::after {
  background-color: #a4a4a4;
}
form .form__emotion {
  width: 320px;
  margin: 0 auto;
  display: block;
}
form .form__emotion textarea {
  display: block;
  margin: 30px;
}
form .choice-services {
  display: block;
  width: 320px;
  margin: 0 auto;
  margin-top: 80px;
}
form .choice-services a {
  text-transform: uppercase;
  background-color: #81b3d2;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  padding: 22px 0;
  font-weight: bold;
}
form .choice-services a:hover {
  background-color: #669ec0;
}
form .choice-services a:active {
  background-color: #5496bd;
  color: #88b6d1;
}
form .choice-services .choise-services__attention {
  display: none;
}
form textarea {
  border: 0px green solid;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
}
form textarea::-webkit-input-placeholder {
  color: black;
}
form textarea::-moz-placeholder {
  color: black;
}
form textarea:-ms-input-placeholder {
  color: black;
}
form textarea:-moz-placeholder {
  color: black;
}
@media (max-width: 767px) {
  fieldset {
    border: 0 green solid;
  }
  fieldset legend {
    display: none;
  }
}
@media (min-width: 768px) {
  form {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form .form__bio,
  form .form__impression {
    width: 49%;
  }
  form .form__bio fieldset,
  form .form__impression fieldset {
    border: 0 green solid;
  }
  form .form__bio fieldset .bio__span,
  form .form__impression fieldset .bio__span {
    display: none;
  }
  form .form__contacts,
  form .form__landmarks,
  form .form__emotion {
    width: 100%;
  }
  form .form__contacts fieldset,
  form .form__landmarks fieldset,
  form .form__emotion fieldset {
    border-bottom: 0px green solid;
    border-right: 0px green solid;
    border-left: 0px green solid;
  }
  form .form__contacts h2,
  form .form__landmarks h2,
  form .form__emotion h2 {
    display: none;
  }
  form .form__impression {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  form legend {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  form .form__bio {
    min-width: 300px;
  }
  form .form__bio h2 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  form .form__bio h2 span {
    display: none;
  }
  form .form__impression h2 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 70px;
  }
  form .form__impression div {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  form .form__contacts {
    padding: 0px;
    margin-right: 35px;
    position: relative;
  }
  form .form__contacts fieldset {
    padding-top: 30px;
  }
  form .form__contacts .client-id__ph,
  form .form__contacts .client-id__m {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  form .form__contacts .client-id__ph label,
  form .form__contacts .client-id__m label {
    min-width: 700px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  form .form__contacts .client-id__ph input,
  form .form__contacts .client-id__m input {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    min-width: 700px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 58px;
  }
  form .form__contacts .client-id__ph img,
  form .form__contacts .client-id__m img {
    position: absolute;
    right: 30px;
    top: 75px;
    background-color: #e6e6e6;
    z-index: 3;
  }
  form .form__contacts .client-id__ph::after,
  form .form__contacts .client-id__m::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50px;
    width: 58px;
    height: 60px;
    background-color: #e6e6e6;
  }
  form .landmarks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px 30px;
    min-height: 130px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  form .landmarks div {
    min-width: 250px;
    width: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  form .landmarks div label {
    margin: 0;
    padding: 0;
  }
  form .landmarks div input {
    margin: 0;
    padding: 0;
  }
  form textarea {
    width: 90%;
    margin: 0 auto;
  }
  form .choice-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-width: 768px;
  }
  form .choice-services a {
    width: 50%;
  }
  form .choice-services .choise-services__attention {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  form {
    margin: 0 auto;
  }
  form .landmarks {
    padding: 40px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: -60px;
  }
  form .landmarks div {
    min-width: 250px;
    width: 25%;
  }
  form .landmarks div label {
    display: inline-block;
  }
  form .landmarks div input {
    width: 20px;
  }
  form .landmarks .choice-services {
    min-width: 300px;
    width: 22%;
  }
  form .form__contacts img {
    top: 0;
    right: 0;
  }
  form .form__contacts .client-id__ph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  form .form__contacts .client-id__ph label {
    width: 80px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
    min-width: 0;
  }
  form .form__contacts .client-id__ph span {
    display: none;
  }
  form .form__contacts .client-id__ph input[type="text"] {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  form .form__contacts .client-id__m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  form .form__contacts .client-id__m label {
    width: 150px;
    min-width: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
  }
  form .form__contacts .client-id__ph,
  form .form__contacts .client-id__m {
    position: relative;
  }
  form .form__contacts .client-id__ph img,
  form .form__contacts .client-id__m img {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #e6e6e6;
    z-index: 3;
  }
  form .form__contacts .client-id__ph::after,
  form .form__contacts .client-id__m::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 0px;
    width: 58px;
    height: 75px;
    background-color: #e6e6e6;
  }
  form .form__contacts .client-id__ph input[type="text"],
  form .form__contacts .client-id__m input[type="text"] {
    margin-right: 68px;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 250px;
  width: 152px;
  margin: 0 auto;
  margin-top: 90px;
}
footer span,
footer .page-footer__copyright,
footer .footer__social-links {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}
footer .page-footer__hashtag {
  font-weight: bold;
  margin: 0 auto;
}
footer .footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .social-link {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 0;
  background-color: #81b3d2;
  padding: 15px;
}
footer .social-link:hover {
  background-color: #669ec0;
}
footer .social-link:active {
  background-color: #5496bd;
}
footer .social-link:active img {
  opacity: 0.3;
}
footer .social-link a {
  display: block;
}
footer .social-link a img {
  text-align: center;
  vertical-align: middle;
}
footer .page-footer__copyright {
  position: relative;
  font-size: 14px;
  width: 140px;
}
footer .page-footer__copyright img {
  vertical-align: middle;
  margin-left: 15px;
}
footer .page-footer__hashtag {
  text-align: middle;
  font-size: 18px;
}
@media (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    min-height: 120px;
  }
  footer .footer__social-links {
    width: 150px;
  }
  footer .page-footer__hashtag,
  footer .page-footer__copyright {
    width: 33%;
    text-align: center;
  }
}
.presentation {
  padding: 60px 30px;
  text-align: center;
  position: relative;
}
.presentation::before {
  content: "";
  position: absolute;
  top: -68px;
  left: -340px;
  border: 70px solid transparent;
  border-bottom: 0px solid white;
  border-left: 800px solid white;
  z-index: 5;
}
.presentation::after {
  content: "";
  position: absolute;
  top: -68px;
  right: -360px;
  border: 70px solid transparent;
  border-right: 800px solid white;
  border-bottom: 0px solid white;
  z-index: 5;
}
.presentation span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 210px;
  margin: 0 auto;
}
.presentation p {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  width: 210px;
  margin: 0 auto;
  position: relative;
}
.presentation p::before {
  content: "";
  position: absolute;
  top: 75px;
  left: -265px;
  border: 40px solid transparent;
  border-bottom: 0px solid #81b3d2;
  border-left: 380px solid #81b3d2;
  z-index: -4;
}
.presentation p::after {
  content: "";
  position: absolute;
  top: 75px;
  right: -265px;
  border: 40px solid transparent;
  border-right: 380px solid #81b3d2;
  border-bottom: 0px solid #81b3d2;
  z-index: -4;
}
.list-of-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.list-of-benefits .list-of-benefits__item {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.list-of-benefits .number,
.list-of-benefits .white-number {
  background-color: #81b3d2;
  color: white;
  height: 122px;
  padding: 45px 10px;
}
.list-of-benefits .number span,
.list-of-benefits .white-number span {
  margin: 0 auto;
  text-align: center;
}
.list-of-benefits .number p,
.list-of-benefits .white-number p {
  font-size: 14px;
  width: 230px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: middle;
  text-align: center;
}
.list-of-benefits .number .item__number {
  text-align: center;
  position: relative;
  width: 40px;
}
.list-of-benefits .number .item__number::before,
.list-of-benefits .number .item__number::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -2px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}
.list-of-benefits .number .item__number::after {
  left: -2px;
}
.list-of-benefits .white-number {
  display: block;
  background-color: #eeeeee;
  color: black;
  border-top: 1px #d6d6d6 solid;
  padding: 22px 0;
}
.list-of-benefits .white-number::first-child {
  border-top: 0px green solid;
}
.list-of-benefits .white-number p {
  width: 200px;
}
.list-of-benefits .white-number .item__number {
  text-align: center;
  position: relative;
  width: 40px;
}
.list-of-benefits .white-number .item__number::before,
.list-of-benefits .white-number .item__number::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -2px;
  width: 9px;
  height: 2px;
  background-color: #979797;
}
.list-of-benefits .white-number .item__number::after {
  left: -2px;
}
.list-of-benefits span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 210px;
}
.list-of-benefits .list-of-benefits__dignities {
  background-color: white;
  color: black;
  padding: 40px 0 0 50px;
  position: relative;
  width: 280px;
}
.list-of-benefits .list-of-benefits__dignities .dignities__badge {
  position: absolute;
  top: 32px;
  left: 0;
}
.list-of-benefits .list-of-benefits__dignities p {
  width: 210px;
}
.list-of-benefits .photo {
  background-size: cover;
  width: 320px;
  height: 260px;
}
@media (min-width: 768px) {
  .presentation {
    padding: 60px 30px;
    text-align: center;
  }
  .presentation span {
    display: block;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 460px;
    margin: 0 auto;
  }
  .presentation p {
    width: 500px;
    padding-top: 35px;
  }
  .presentation p::before,
  .presentation p::after {
    display: none;
  }
  .list-of-benefits {
    -webkit-box-pack: row;
        -ms-flex-pack: row;
            justify-content: row;
    width: 100%;
    margin: 0 auto;
  }
  .list-of-benefits .list-of-benefits__item {
    display: inline-block;
    margin: 0;
    width: 33%;
  }
  .list-of-benefits .number {
    width: 33%;
    margin: 0;
    height: 166px;
  }
  .list-of-benefits .number span {
    margin-bottom: 15px;
  }
  .list-of-benefits .number p {
    margin-bottom: 15px;
    width: 130px;
  }
  .list-of-benefits .photo {
    width: 65%;
    margin: 0;
    display: block;
  }
  .list-of-benefits .photo img {
    display: block;
    width: 100%;
    min-width: 512px;
    height: 256px;
  }
  .list-of-benefits .white-number {
    display: block;
    width: 33.3%;
    padding: 50px 0;
    margin: 0;
    margin-top: -4px;
  }
  .list-of-benefits .list-of-benefits__dignities {
    width: 33.3%;
    padding: 120px 0 60px 0;
    margin-top: 40px;
    text-align: center;
  }
  .list-of-benefits .list-of-benefits__dignities .dignities__badge {
    top: 15px;
    left: 70px;
  }
  .list-of-benefits .list-of-benefits__dignities .house img {
    width: 75px;
    height: 72px;
  }
  .list-of-benefits .list-of-benefits__dignities .burger img {
    width: 77px;
    height: 68px;
  }
  .list-of-benefits .list-of-benefits__dignities .gift img {
    width: 64px;
    height: 75px;
  }
}
@media (min-width: 1200px) {
  .list-of-benefits {
    -webkit-box-pack: row;
        -ms-flex-pack: row;
            justify-content: row;
    min-width: 1200px;
    margin: 0 auto;
  }
  .list-of-benefits .photo {
    width: 65%;
    margin: 0;
    display: block;
  }
  .list-of-benefits .photo img {
    display: block;
    width: 100%;
    min-width: 800px;
    height: 256px;
  }
  .list-of-benefits .list-of-benefits__dignities {
    width: 330px;
    text-align: center;
    padding: 120px 0 60px 70px;
  }
  .list-of-benefits .list-of-benefits__dignities p {
    width: 270px;
    text-align: center;
  }
  .list-of-benefits .list-of-benefits__dignities span {
    margin-left: 30px;
    text-align: center;
  }
  .list-of-benefits .list-of-benefits__dignities .dignities__badge {
    left: 165px;
  }
  .list-of-benefits .number {
    width: 33.3%;
    margin: 0;
    height: 166px;
  }
  .list-of-benefits .number span {
    font-size: 18px;
    width: 130px;
  }
  .list-of-benefits .number p {
    width: 220px;
  }
  .list-of-benefits .white-number {
    margin-top: -5px;
  }
}
.submit-and-map .submit {
  display: block;
  padding: 22px 0;
}
.submit-and-map .submit span,
.submit-and-map .submit p,
.submit-and-map .submit a {
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  width: 240px;
  font-size: 14px;
}
.submit-and-map .submit span {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 30px;
}
.submit-and-map .submit a {
  background-color: #81b3d2;
  color: #fff;
  text-decoration: none;
  width: 280px;
  padding: 12px 0;
  cursor: pointer;
}
.submit-and-map .map {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .submit-and-map {
    min-height: 670px;
  }
  .submit-and-map .submit {
    height: 201px;
    padding: 50px;
  }
  .submit-and-map .submit span,
  .submit-and-map .submit p,
  .submit-and-map .submit a {
    width: 460px;
  }
  .submit-and-map .submit span {
    font-size: 22px;
  }
  .submit-and-map .submit a {
    margin-top: 50px;
  }
  .submit-and-map .map {
    display: block;
  }
  .submit-and-map .map img {
    height: 350px;
    width: 100%;
    background-size: cover;
  }
}
.photo-main-picture {
  height: 160px;
  width: 100%;
}
.photo-main-picture img {
  display: block;
  width: 320px;
  height: 160px;
  z-index: -7;
  overflow: hidden;
  background-size: cover;
  margin: 0 auto;
}
.photo-main-picture .main-picture__logo {
  display: block;
  width: 250px;
  height: 1px;
  margin: 0 auto;
  position: relative;
}
.photo-main-picture .main-picture__logo::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -165px;
  border: 60px solid transparent;
  border-bottom: 0px solid white;
  border-left: 350px solid white;
  z-index: 5;
}
.photo-main-picture .main-picture__logo::after {
  content: "";
  position: absolute;
  top: -60px;
  right: -185px;
  border: 60px solid transparent;
  border-right: 350px solid white;
  border-bottom: 0px solid white;
  z-index: 5;
}
.photo-main-picture .main-picture__logo img {
  position: absolute;
  bottom: 60px;
  left: 10px;
  display: block;
  width: 229px;
  height: 39px;
  z-index: 2;
}
@media (min-width: 768px) {
  .photo-main-picture {
    height: 290px;
    width: 100%;
    margin-bottom: 70px;
  }
  .photo-main-picture img {
    width: 100%;
    height: 346px;
  }
  .photo-main-picture .main-picture__logo img {
    width: 458px;
    height: 78px;
    bottom: 150px;
  }
}
@media (min-width: 1200px) {
  .photo-main-picture {
    height: 357px;
    width: 100%;
    margin-bottom: 0;
  }
  .photo-main-picture img {
    width: 100%;
    height: 357px;
  }
  .photo-main-picture .main-picture__logo img {
    width: 461px;
    height: 80px;
  }
}
.pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  min-height: 1600px;
}
.pop-up .pop-up__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  border-bottom: 1px #e5e5e5 solid;
  padding: 25px 0;
}
.pop-up .pop-up__card:first-child {
  border-top: 1px #e5e5e5 solid;
}
.pop-up .pop-up__card .pop-up__card__photo,
.pop-up .pop-up__card .pop-up__author,
.pop-up .pop-up__card .pop-up__likes {
  width: 100%;
  font-size: 16px;
  line-height: 18px;
}
.pop-up .pop-up__card .pop-up__author {
  padding-top: 20px;
}
.pop-up .pop-up__card .pop-up__author span {
  font-weight: bold;
  text-transform: uppercase;
}
.pop-up .pop-up__card .pop-up__likes {
  position: relative;
  padding-left: 37px;
  font-weight: bold;
  margin-top: 0px;
}
.pop-up .pop-up__card .pop-up__likes img {
  position: absolute;
  top: -5px;
  left: 0;
}
.pop-up .pop-up__video {
  margin: 0 auto;
  padding-top: 40px;
}
.pop-up .pop-up__video .video {
  display: block;
  width: 200px;
  height: 100px;
  background-color: orange;
  margin: 0 auto;
}
.pop-up .pop-up__video .video__question {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.pop-up .pop-up__video .video__answer {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    min-height: 1100px;
  }
  .pop-up .pop-up__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 0px #e5e5e5 solid;
    margin: 0;
    background-color: #f2f2f2;
    padding: 0;
  }
  .pop-up .pop-up__card:first-child {
    width: 100%;
  }
  .pop-up .pop-up__card:first-child img {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
  .pop-up .pop-up__card:first-child .pop-up__likes img {
    width: 27px;
    height: 24px;
  }
  .pop-up .pop-up__card img {
    width: 100%;
    height: 267px;
    background-size: cover;
  }
  .pop-up .pop-up__card .pop-up__likes img {
    width: 27px;
    height: 24px;
  }
  .pop-up .pop-up__card .pop-up__author,
  .pop-up .pop-up__card .pop-up__likes {
    width: 40%;
  }
  .pop-up .pop-up__card .pop-up__likes {
    width: 20px;
    text-align: right;
    vertical-align: middle;
    margin-right: 35px;
    margin-top: 30px;
  }
  .pop-up__video {
    width: 650px;
    text-transform: uppercase;
    padding-top: 70px;
  }
  .pop-up__video .video {
    width: 400px;
    height: 200px;
    background-color: orange;
  }
  .pop-up__video .video__question {
    font-size: 22px;
    text-transform: uppercase;
  }
  .pop-up__video .video__answer {
    margin-bottom: 60px;
    text-transform: uppercase;
  }
}
@media (min-width: 1200px) {
  .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
    min-height: 605px;
  }
  .pop-up .pop-up__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.3%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 0px #e5e5e5 solid;
    margin: 0;
    background-color: #f2f2f2;
    padding: 0;
    position: relative;
    color: white;
    margin-bottom: -3px;
  }
  .pop-up .pop-up__card:first-child {
    width: 100%;
  }
  .pop-up .pop-up__card:first-child img {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
  .pop-up .pop-up__card:first-child .pop-up__likes img {
    width: 27px;
    height: 24px;
  }
  .pop-up .pop-up__card img {
    width: 100%;
    height: 267px;
    background-size: cover;
  }
  .pop-up .pop-up__card .pop-up__likes img {
    width: 27px;
    height: 24px;
  }
  .pop-up .pop-up__card .pop-up__author,
  .pop-up .pop-up__card .pop-up__likes {
    position: absolute;
    bottom: 20px;
  }
  .pop-up .pop-up__card .pop-up__likes {
    width: 20px;
    text-align: right;
    vertical-align: middle;
    margin-right: 35px;
    margin-top: 30px;
    right: 5px;
  }
  .pop-up .pop-up__card .pop-up__author {
    bottom: 0;
    left: 10px;
    min-width: 60%;
  }
  .pop-up .pop-up__video {
    width: 1200px;
  }
  .pop-up .pop-up__video .video {
    width: 500px;
    height: 300px;
  }
  .pop-up .pop-up__video .video__question {
    font-size: 26px;
  }
}
.photo-presentation,
.page-main {
  padding: 60px 0;
  text-align: center;
  position: relative;
}
.photo-presentation span,
.page-main span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
}
.photo-presentation p,
.page-main p {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  width: 225px;
  margin: 0 auto;
  margin-top: 35px;
}
.photo-presentation::before,
.page-main::before {
  content: "";
  position: absolute;
  top: -68px;
  left: -340px;
  border: 70px solid transparent;
  border-bottom: 0px solid white;
  border-left: 800px solid white;
  z-index: 5;
}
.photo-presentation::after,
.page-main::after {
  content: "";
  position: absolute;
  top: -68px;
  right: -360px;
  border: 70px solid transparent;
  border-right: 800px solid white;
  border-bottom: 0px solid white;
  z-index: 5;
}
@media (max-width: 767px) {
  .photo-presentation p br {
    display: none;
  }
}
@media (min-width: 768px) {
  .photo-presentation span {
    font-size: 24px;
  }
  .photo-presentation p {
    width: 430px;
  }
}
.modal-content__success-pop-up {
  width: 320px;
  height: 235px;
  background-color: #f8f5f2;
  position: fixed;
  top: 200px;
  left: 500px;
  padding: 40px 70px;
  z-index: 10;
  color: black;
  display: none;
}
.modal-content__success-pop-up h2 {
  font-size: 40px;
  color: black;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.modal-content__success-pop-up p {
  display: block;
  font-size: 18px;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}
.modal-content__success-pop-up .success-pop-up__enter {
  display: block;
  width: 320px;
  height: 30px;
  padding: 12px 0px;
  text-decoration: none;
  background-color: #826550;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}
.modal-content__success-pop-up .success-pop-up__enter:hover {
  background-color: #6a4d38;
}
.modal-content__success-pop-up .success-pop-up__enter:active {
  background-color: #6a4d38;
  color: #978374;
}
.modal-content__login-form {
  width: 320px;
  height: 400px;
  background-color: #f8f5f2;
  position: fixed;
  top: 200px;
  left: 500px;
  padding: 40px 70px;
  z-index: 10;
  color: black;
  display: none;
}
.modal-content__login-form h2 {
  font-size: 40px;
  color: black;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.modal-content__login-form p {
  display: block;
  font-size: 18px;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}
.modal-content__login-form input[type="text"] {
  display: block;
  margin-bottom: 8px;
  width: 270px;
  height: 18px;
  padding: 20px;
  position: relative;
}
.modal-content__login-form #login::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-image: url("../img/login-icon.png");
  width: 15px;
  height: 15px;
  z-index: 2;
}
.modal-content__login-form #password::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-image: url("../img/locked-icon.png");
  width: 15px;
  height: 17px;
  z-index: 2;
}
.modal-content__login-form .login-form__password-remember {
  margin: 20px 0;
  display: block;
}
.modal-content__login-form .login-form__password-remember label {
  display: inline-block;
  position: relative;
  margin-right: 70px;
}
.modal-content__login-form .login-form__password-remember label::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  background-color: red;
  width: 36px;
  height: 36px;
}
.modal-content__login-form .login-form__password-remember a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
.modal-content__login-form .login-form__enter {
  display: block;
  width: 280px;
  height: 30px;
  padding: 12px 15px;
  text-decoration: none;
  background-color: #826550;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}
.modal-content__login-form .login-form__enter:hover {
  background-color: #6a4d38;
}
.modal-content__login-form .login-form__enter:active {
  background-color: #6a4d38;
  color: #978374;
}
.modal-content__failure-pop-up {
  width: 160px;
  height: 200px;
  background-color: #f8f5f2;
  position: fixed;
  top: 200px;
  left: 500px;
  padding: 60px 80px;
  z-index: 10;
  color: black;
  display: none;
}
.modal-content__failure-pop-up h2 {
  font-size: 40px;
  color: black;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.modal-content__failure-pop-up p {
  display: block;
  font-size: 18px;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}
.modal-content__failure-pop-up .failure-pop-up__enter {
  display: block;
  width: 150px;
  height: 30px;
  padding: 12px 0px;
  text-decoration: none;
  background-color: #826550;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}
.modal-content__failure-pop-up .failure-pop-up__enter:hover {
  background-color: #6a4d38;
}
.modal-content__failure-pop-up .failure-pop-up__enter:active {
  background-color: #6a4d38;
  color: #978374;
}
/*# sourceMappingURL=styles.css.map */